<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Doc</title>
	</head>
	<body>
		<h1>List Books</h1>
		<table>
			border="1"</table>
		<tr>
			<th>Title</th>
			<th>Category</th>
			<th>Publication Date</th>
			<th>published</th>
			<th>Author</th>
			<th>UPDATE</th>
			<th>Delete</th>
		</tr>

		<tr>
			{% for b in book %}
			</tr>
			<td>{{b.title}}</td>
			<td>{{b.category}}</td>
			<td>{{b.publicationDate}}</td>
			<td>{{b.published}}</td>
			<td>{{b.auteur}}</td>
			<td>
				<a href="{{path('app_edit_books',{'ref':b.ref})}}">Edit</a>
				<a href="{{path('app_delete_books',{'ref':b.ref})}}">Delete</a>
			</td>
		</tr>
	</body>
</html>
